@(user:String, templateUploaded:Boolean, files:List[String]  )

<html>
	<head>
		<title>Hello @user</title>
	</head>

	<body>
	<h1>Hello @user</h1>
	@if(templateUploaded){
		<p>A template has been uploaded.</p>
		<br/>
		<p>Upload json data to populate the template sheet</p></p>
		
		@helper.form(routes.Application.uploadJson, 'enctype -> "multipart/form-data") {
	 		<input type="file" name="uploadedFile" >
	 		<input type="submit" value="Upload">
		}		
	}else {
		<h2>A template has not been uploaded</h2>
		@helper.form(routes.Application.uploadTemplate, 'enctype -> "multipart/form-data") {
	 		<input type="file" name="uploadedFile">
	 		<input type="submit" value="Upload">
		}
	}
	<br/><br/>
	@if(files == null){
		<p>No files have been generated so far</p>
	} else {
		<p>You have the following files available for download:</p>
		<table  width="800">
		@for(file <- files) {
			<tr>
			<td>@file<br></td><td><a href=@("/downloadFile/" + file) >Download</a><br></td>
			</tr>
		}
		</table>
	}

	@helper.form(routes.Application.logout) {
		<p><button type="submit" id="logoutbutton">Logout</button></p>
	}
	</body>
</html>
